.DS_Store
applet
application.linux
application.macosx
application.windows
*.zip
build-tmp/*

gamedemo/.DS_Store
gamedemo/applet
gamedemo/application.linux
gamedemo/application.macosx
gamedemo/application.windows
gamedemo/*.zip
gamedemo/build-tmp/*

blockeditor/.DS_Store
blockeditor/applet
blockeditor/application.linux
blockeditor/application.macosx
blockeditor/application.windows
blockeditor/*.zip
blockeditor/build-tmp/*